<script {{ "gsap.js" | asset_url }} defer></script>
{{ "gsap.css" | asset_url | stylesheet_tag }}

<div class="box-container">
  <div class="box">
    <p>Box</p>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}