.box-container {
  height: 200vh;
}
.box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: fixed;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
}