.count__heading {
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}
.count_name {
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
@media screen and (min-width:750px) {
  .count__heading {
    font-size: 64px;
  }
  .count__name {
    font-size: 16px;
  }
  .count__inner-container {
    border-right: 2px solid rgba(42, 67, 28, 0.20);
    padding: 45px 0px;
  }
  .count__container .grid--4-col-desktop div:last-child {
    .count__inner-container {
      border-right: 0px;
    }
  }
}
@media screen and (max-width:990px) {
  .count__container .page-width {
    padding: 0px;
  }
  .count__inner-container {
    padding: 0px 1.5rem;
  }
}